<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807174092140-92jegphedbf732pdujq6ts1gql5su96s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807174092140-92jegphedbf732pdujq6ts1gql5su96s</string>
	<key>API_KEY</key>
	<string>AIzaSyCp_FF0ZlxwAnn2oVoP2qjH3UwCYF1ugxY</string>
	<key>GCM_SENDER_ID</key>
	<string>807174092140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utexas.hw4.Binder</string>
	<key>PROJECT_ID</key>
	<string>binderappproject</string>
	<key>STORAGE_BUCKET</key>
	<string>binderappproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807174092140:ios:087630f3a91eaf52</string>
	<key>DATABASE_URL</key>
	<string>https://binderappproject.firebaseio.com</string>
</dict>
</plist>